# Admin Configuration
ADMIN_USER=admin
ADMIN_KEY=bcrypt_hashed_key_here

# Asaas Configuration
ASAAS_PIX=
ASAAS_KEY=
ASAAS_CUS_ENDPOINT=https://sandbox.asaas.com/api/v3/customers
ASAAS_PAY_ENDPOINT=https://sandbox.asaas.com/api/v3/payments
ASAAS_QR_ENDPOINT=https://sandbox.asaas.com/api/v3/payments/{id}/pixQrCode

# Database Configuration (For Backend)
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=rifa
DB_USERNAME=root
DB_PASSWORD=

# Mail Configuration (For Backend)
MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="contato@rifart.com.br"
MAIL_FROM_NAME="${APP_NAME}"

# App Configuration
APP_NAME=Rifart
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
