# Admin Configuration
ADMIN_USER=admin
ADMIN_PASS=your_password_here

# Asaas Configuration
ASAAS_KEY=your_production_key_here
ASAAS_CUS_ENDPOINT=https://www.asaas.com/api/v3/customers
ASAAS_PAY_ENDPOINT=https://www.asaas.com/api/v3/payments
ASAAS_QR_ENDPOINT=https://www.asaas.com/api/v3/payments/{id}/pixQrCode

# Database Configuration (For Backend)
DATABASE_URL="postgresql://user:password@host:port/dbname?sslmode=require"

# App Configuration
APP_NAME="Rifa do Ivan"
APP_ENV=production
APP_DEBUG=false
APP_URL=https://rifadoivan.vercel.app
